[submodule "modules/web-ua"]
	path = modules/web-ua
	url = https://github.com/wakaba/perl-web-useragent-functions
	track = master
[submodule "modules/json-ps"]
	path = modules/json-ps
	url = https://github.com/wakaba/perl-json-ps
	track = master
